@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after,.clearfix:before{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}

a{text-decoration:none;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
html,body{height:100%;}
body{font:12px/1.5 Microsoft Yahei,Helvetica,sans-serif;background:url("../images/bg-body.png") repeat-x center 0;color:#333;}

/* base */
.input{display:inline-block;width:250px;height:18px;padding:10px 4px;border:1px solid #FFF;line-height:18px;vertical-align:middle;font-family:Microsoft Yahei;font-size:14px;color:#BDBDBD;
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease;
}
.input:hover{border-color:#CCC;box-shadow:0 1px 3px rgba(206,206,206,0.2) inset;color:#999;}
.input:focus{border-color: #999;color:#333;}
.sub-btn{display:inline-block;width:260px;height:50px;line-height:50px;border:none;background:url("../images/un-btn.png") no-repeat 0 0;text-align:center;font-family:Microsoft Yahei;font-size:16px;color:#FFF;cursor:pointer;}
.sub-btn:hover{background-position:0 -60px;color:#FFD800;}
.animation{-webkit-animation-duration:1s;-webkit-animation-delay:.2s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:1s;-moz-animation-delay:.2s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;}


/* top */
.top{width:100%;height:75px;background-color:#FFF;}
.top-inner{width:980px;height:75px;margin:0 auto;padding:0 10px;background: url("../images/bg-top.png") no-repeat 200px 0;}
.top .logo{width:171px;height:48px;float:left;margin-top:12px;background: url("../images/logo.png") no-repeat 0 0;}
.top .service{width:68px;height:26px;float:right;margin-top:28px;margin-right:85px;background-color:#FFF;border:1px solid #BEBEBE;line-height:26px;text-align:center;color:#999;border-radius:3px;_display:inline;}
.top .service:hover{border-color:#999;}
.top .service a{color:#999;}
.top .service a:hover{color:#666;}

/* banner */
.banner{width:100%;height:416px;background:url("../images/banner.jpg") no-repeat center 0;}
.banner-inner{position:relative;width:980px;height:416px;margin:0 auto;padding:0 10px;background:url("../images/banner.jpg") no-repeat center 0;}
.title1{position:absolute;left:205px;top:120px;width:579px;height:262px;background:url("../images/title1.png") no-repeat 0 0;
-webkit-animation: title1 4s ease 0s both;
-moz-animation: title1 4s ease 0s both;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,  src="images/title1.png"); _background:none;
}
.title2{position:absolute;left:720px;top:70px;width:153px;height:293px;background:url("../images/title2.png") no-repeat 0 0;
-webkit-animation: title2 4s ease 0s both;
-moz-animation: title2 4s ease 0s both;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,  src="images/title2.png"); _background:none;
}
.title3{position:absolute;left:170px;top:70px;width:728px;height:273px;background:url("../images/title3.png") no-repeat 0 0;opacity:0;
-webkit-animation: title3 4s ease 0s both;
-moz-animation: title3 4s ease 0s both;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,  src="images/title3.png"); _background:none;
}
@-webkit-keyframes title1{
	0%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:0}
	30%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1}
	80%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1}
	100%{-webkit-transform-origin:right bottom;-webkit-transform:scale(0.1) rotate(-90deg);opacity:0}
}
@-moz-keyframes title1{
	0%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:0}
	30%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}
	80%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}
	100%{-moz-transform-origin:right bottom;-moz-transform:scale(0.1) rotate(-90deg);opacity:0}
}
@-webkit-keyframes title2{
	0%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:0}
	30%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1}
	80%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1;}
	100%{-webkit-transform-origin:right bottom;-webkit-transform:scale(0.1) rotate(-90deg);opacity:0;}
}
@-moz-keyframes title2{
	0%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:0}
	30%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}
	80%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}
	100%{-moz-transform-origin:right bottom;-moz-transform:scale(0.1) rotate(-90deg);opacity:0}
}
@-webkit-keyframes title3{
	77%{-webkit-transform-origin:right bottom;-webkit-transform:scale(0.3) rotate(90deg) translate(500px,300px);opacity:0}
	100%{-webkit-transform-origin:right bottom;-webkit-transform:rotate(0);opacity:1;}
}
@-moz-keyframes title3{
	77%{-moz-transform-origin:right bottom;-moz-transform:scale(0.3) rotate(90deg) translate(500px,300px);opacity:0;}
	100%{-moz-transform-origin:right bottom;-moz-transform:rotate(0);opacity:1}
}
/* content */
.content{height:690px;background-color:#464039;}
.content-inner{width:980px;height:690px;margin:0 auto;padding:0 10px}
.content h3{font-size:36px;color:#FFE600;}

.content p{padding-bottom:10px;font-size:14px;line-height:24px;color:#FFF;}
.content p strong{color:#FFE600;}
.content .text{width:620px;overflow:hidden;}
.content .text li{padding-left:55px;margin-top:10px;background-image:url("../images/un-text.png");background-repeat:no-repeat;}
.content .text1{background-position:0 5px;}
.content .text2{background-position:0 -395px;}
.content .text2 a{color:#FFE600;text-decoration:underline;}
.content .text2 h3 a{text-decoration:none;}
.form{float:right;width:310px;height:492px;padding-top:130px;background:url("../images/bg-form.png") no-repeat 0 0;}
.form-title{padding-bottom:10px;font-size:24px;text-align:center;}
.form-list{width:260px;margin:0 auto;}
.form-list li{position:relative;padding-bottom:40px;}
.form-list .ui-check{position:absolute;left:10px;top:40px;line-height:40px;font-size:14px;color:#333;}
.form-list .ui-check-error{color:#B83546;}
.input-captcha{width:140px;}
.img-captcha{float:right;width:100px;height:40px;background-color:#FFF;cursor:pointer;}

.footer{padding-top:30px;background-color:#FFF;}
.partner{width:100%;height:160px;background:#FFF url("../images/bg-footer.png") no-repeat center 0;}
.copyright{text-align:center;padding:15px 0;border-top:1px solid #F9F9F9;background-color:#FFF;color:#969696;font-size:14px;}

.pop{position:absolute;width:560px;border:10px solid #CB223F;background-color:#EEE;font-family:Microsoft Yahei;color:#3E3E3E;}
.pop .ico-close{position:absolute;top:-10px;right:-10px;width:35px;height:35px;border:6px solid #CB223F;background-color:#821620;color:#FFF;font-size:34px;line-height:30px;text-align:center;cursor:pointer;}
.pop .ico-close:hover{background-color:#a21c28;}

.pop .bd {padding:30px;
    text-align: center;
}

.pop h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.pop .bd p {
    padding-bottom: 15px;
}
.pop .btn-close, .pop .btn-check, .pop .btn-submit {
    background-color: #FFB605;
    border-bottom: 2px solid #E8982B;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    width: 150px;
}
.pop .btn-check {
    background-color: #C92440;
    border-bottom-color: #821620;text-decoration:none;
}
.pop .btn-submit {
    font-size: 16px;
    height: 30px;
    line-height: 28px;
    margin-left: 40px;
    vertical-align: middle;
    width: 146px;text-decoration:none;
}
.pop a{color:#DF5064;text-decoration:underline;}

.slider-bar{position:fixed;_position:absolute;left:50%;margin-left:500px;bottom:150px;z-index:111;width:130px;background-color:#FFF;border-radius:7px 7px 6px 6px;box-shadow:0 2px 3px rgba(0,0,0,0.5);border:1px solid #C7C6BB\9;border:none\0;text-align:center;
-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.slider-bar .title{background-color:#000;height:36px;line-height:36px;color:#FFF;border-radius:6px 6px 0 0;}
.slider-bar img{display:block;width:100px;height:100px;margin:10px auto 5px;}
.slider-bar p{padding-bottom:5px;line-height:18px;}
.slider-bar a{color:#333;text-decoration:underline;}
.slider-bar a:hover{color:#000;}