html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after,.clearfix:before{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}

a{
	text-decoration: none;
}
html,body{height:100%;}
body{font:12px/1.5 Microsoft Yahei, Arial, Helvetica, sans-serif;}
.top{position:absolute;z-index:3;width:100%;background-color:#FFF;box-shadow:0 1px 3px rgba(0,0,0,0.1);}
.top-inner{padding:20px 80px 20px 120px;min-width:780px;}
.top .logo{width:296px;height:63px;float:left;background: url(../images/bg-logo.jpg) no-repeat 0 0;}
.top .menu{float:right;}
.top .menu li{display:inline-block;*display:inline;*zoom:1;padding:0 40px;}
.top .menu li a{line-height:40px;font-size:18px;color:#A3A3A3;text-decoration:none;}
.top .menu li.current a{color:#389B91;}

.banner{height:100%;background: url(../images/bg-banner.jpg) no-repeat center 97px #F1F7C9;color:#555;}
.banner-inner{position:relative;width:980px;height:100%;margin:0 auto;}
.btn-per,.btn-next{position:absolute;bottom:460px;z-index:2;width:54px;height:55px;background:url(../images/un-slider-btn.png) no-repeat 0 0;_background:url(../images/un-slider-btn-ie6.png) no-repeat 0 0;}

.btn-per{left:50px;}
.btn-next{right:50px;background-position:-70px 0;}
.btn-per:hover{background-position:0 -70px;}
.btn-next:hover{background-position:-70px -70px;}
.btn-per-disable,.btn-per-disable:hover{background-position:0 0;cursor:default;}
.btn-next-disable,.btn-next-disable:hover{background-position:-70px 0;cursor:default;}

.hand{position:absolute;bottom:215px;left:-40px;width:191px;height:338px;padding:66px 72px 78px 165px;background:url(../images/bg-hand.png) no-repeat 0 0;
_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-hand.png');overflow:hidden;}
.hand ul{
	display: block;
	position: absolute;
	top: 66px;
	left: 165px;
	width: 192px;
	height: 339px;
	background: #034126;
	overflow: hidden;
}
.hand li{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 339px;
}
.hand img{width:192px;height:339px;}
.mid{position:absolute;bottom:215px;left:446px;}
.tool-text{
	width:600px;
	height:136px;
	margin-bottom:40px;
	overflow: hidden;
}
.tool-text div{
	display: none;
	width:600px;
	height:136px;
	margin-bottom:40px;
}
.tool-text .bg-title1{
	background:url(../images/bg-title1.png) no-repeat 0 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-title1.png');
}
.tool-text .bg-title2{
	background:url(../images/bg-title2.png) no-repeat 0 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-title2.png');
}
.tool-text .bg-title3{
	background:url(../images/bg-title3.png) no-repeat 0 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-title3.png');
}
.tool-text .bg-title4{
	background:url(../images/bg-title4.png) no-repeat 0 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg-title4.png');
}
.install-iphone{margin-bottom:30px;}
.install-iphone li{float:left;width:210px;height:48px;padding:10px 15px;background-color:#FFFFFF;border-radius:0 4px 4px 0;}
.install-iphone .current{background-color:#048E82;border-radius:4px 0 0 4px;}
.install-iphone a{display:inline-block;color:#03b3a4;text-decoration:none;}
.install-iphone a:hover{color:#048E82;transition: all 0.3s ease-in 0s;}
.install-iphone .current a{color:#FFF;}
.install-iphone .current a:hover{color:#F4F5C9;}
.install-iphone a strong{display:block;font-size:18px;}
.install-iphone i{display:inline-block;width:22px;height:37px;margin-right:15px;background:url(../images/un-iphone-ico.png) no-repeat -40px 0;}
.install-iphone .current i{background-position:0 0;}
.install-tool{margin-bottom:30px;font-size:16px;color:#555;}
.install-tool dt,.install-tool dd{display:inline-block;*display:inline;*zoom:1;}
.install-tool dd{padding:0 8px;}
.install-tool a{color:#555;}
.install-tool a:hover{color:#000;transition: all 0.3s ease-in 0s;}
.install-code{width:90px;margin-bottom:55px;}
.install-code img{display:block;width:90px;height:90px;}
.install-code span{display:block;margin-top:5px;text-align:center;}
.slider-dot{position:absolute;bottom:210px;left:50%;margin-left:-80px;z-index:1;display:inline-block;*display:inline;*zoom:1;width:160px;height:16px;text-align:center;}
.slider-dot li{width:20px;height:16px;display:inline-block;*display:inline;*zoom:1;margin:0 8px;background:url(../images/un-slider-dot.png) no-repeat 0 0;cursor:pointer;overflow:hidden;}
.slider-dot .current{background-position:0 -30px;}


.nav{position:absolute;bottom:0;width:100%;background-color:#048E82;}
.nav ul{width:980px;margin:0 auto;text-align:center;}
.nav li{position:relative;z-index:1;display:inline-block;*display:inline;*zoom:1;width:240px;height:175px;margin-top:40px;vertical-align:middle;text-align:center;cursor:pointer;}
.nav li .arrow{
display:none;
position:absolute;bottom:-9px;left:50%;margin-left:-4px;width:0;height:0;overflow:hidden;line-height:0;font-size:0;
vertical-align:middle;
border-width:9px;
border-color: #048E82 transparent transparent;border-style:solid dotted none;border-style:solid solid none\0;
z-index: 2
}
.nav li.current .arrow{display:block;}
.nav .mod-pic{display:inline-block;*display:inline;*zoom:1;width:70px;height:54px;background-image:url(../images/un-nav-ico.png);background-repeat:no-repeat;}

.nav .pic1{width:40px;height:52px;background-position:0 0;}
.nav .pic2{width:34px;height:52px;background-position:-50px 0;}
.nav .pic3{width:56px;height:52px;background-position:-100px 0;}
.nav .pic4{width:63px;height:52px;background-position:-170px 0;}
.nav .pic5{width:45px;height:52px;background-position:-250px 0;}
.nav .pic6{width:59px;height:52px;background-position:-310px 5px;}
.nav .mod-text{color:#FFF;}
.nav .mod-text .title{font-size:20px;}
.nav li:hover .mod-text{color:#F3F8D3;}
.nav li:hover .pic1{background-position:0 -70px;}
.nav li:hover .pic2{background-position:-50px -70px;}
.nav li:hover .pic3{background-position:-100px -70px;}
.nav li:hover .pic4{background-position:-239px -70px;}
.nav li:hover .pic5{background-position:-250px -70px;}
.nav li:hover .pic6{background-position:-310px -65px;}
.nav-show li{height:125px;}
.nav-show .mod-pic{vertical-align:middle;}
.nav-show .mod-text{display:inline-block;*display:inline;*zoom:1;margin-left:10px;text-align:left;transition: all 0.3s ease-out 0s;vertical-align:middle;}


.mini .banner-inner{bottom:-215px;}
.mini .nav{bottom:-215px;}


.content_area{display:none;width:100%;padding-top:10px;background:#FFF;}
.content_area .tab-content{margin-top:170px}
.content_area .tab-content li{display: none;}
.content_area .list101,
.content_area .list102,
.content_area .list103,
.content_area .list104,
.content_area .list105,
.content_area .list201,
.content_area .list202,
.content_area .list203,
.content_area .list204,
.content_area .list205,
.content_area .list206,
.content_area .list301,
.content_area .list302,
.content_area .list303,
.content_area .list304,
.content_area .list305{
background-position:center 0;
background-repeat:no-repeat;
border-bottom:1px solid #EBEBEB;
}
.content_area .list101{height:610px;background-image:url(../images/list101.png);}
.content_area .list102{height:610px;background-image:url(../images/list102.png);}
.content_area .list103{height:610px;background-image:url(../images/list103.png);}
.content_area .list104{height:610px;background-image:url(../images/list104.png);}
.content_area .list105{height:610px;background-image:url(../images/list105.png);}
.content_area .list201{height:360px;background-image:url(../images/list201.png);}
.content_area .list202{height:360px;background-image:url(../images/list202.png);}
.content_area .list203{height:500px;background-image:url(../images/list203.png);}
.content_area .list204{height:500px;background-image:url(../images/list204.png);}
.content_area .list205{height:500px;background-image:url(../images/list205.png);}
.content_area .list206{height:600px;background-image:url(../images/list206.png);}
.content_area .list301{height:710px;background-image:url(../images/list301.png);}
.content_area .list302{height:536px;background-image:url(../images/list302.png);}
.content_area .list303{height:536px;background-image:url(../images/list303.png);}
.content_area .list304{height:536px;background-image:url(../images/list304.png);}
.content_area .list305{height:200px;background-image:url(../images/list305.png);}

.footer{display:none; padding:40px 0;background-color:#EEE;}
.footer-inner{width:980px;margin:0 auto;}
.footer .install-code{float:left;margin-right:50px;margin-bottom:0;}
.footer .install-download{float:left;}
.footer .install-tool{margin-bottom:0;}
.footer .install-iphone{margin-bottom:20px;}
.copyright{float:right;text-align:right;padding:5px 0;color:#8A8A8A;font-size:18px;_margin-top:-110px;}



