<ion-view view-title="顺利秒秒彩">
  <div class="bar bar-header bar-stable">
    <a class="button button-icon icon ion-chevron-left"></a>
    <a href="###" class="button button-icon icon ion-android-volume-up"></a>
    <a href="###" class="button button-icon icon ion-android-volume-off"></a>
  </div>

  <ion-content class="has-footer has-header bg-confirm">

    <!--老虎机-->
    <div class="slot">
      <div class="slot-number">
        <div class="slot-light"></div>
        <ul class="number-list">
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ul>
      </div>
      <div class="drawbar">
        <span class="drawbar-up"></span>
        <span class="drawbar-down"></span>
      </div>
    </div>
    <!--彩票方案操作-->
    <div class="result-box">
      <div class="result-operate">
        <span class="ar-btn">自选号码</span>
        <span class="ar-btn">机选一注</span>
        <span class="ar-btn">清空</span>
      </div>
      <div class="result-list">
        <div class="result-list-shadow"></div>
        <ul class="scheme-list">
          <li class="scheme">
            <dl>
              <dt>0123456789 | 0123456789|0123456789| 0123456789 | 0123456789</dt>
              <dd>五星直选   1注x2角 </dd>
            </dl>
            <span class="scheme-multiple">2倍</span>
            <span class="scheme-delete"></span>
          </li>
          <li class="scheme">
            <dl>
              <dt>0123456789 | 012345678</dt>
              <dd>五星直选   1注x2角 </dd>
            </dl>
            <span class="scheme-multiple">2倍</span>
            <span class="scheme-delete"></span>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </ion-content>
  <div class="extra-operate">
    <div class="extra-box">
      <label>倍投</label>
      <p>
        <span class="op-plus">-</span>
        <input type="text" ng-maxLength="3" value="1">
        <span class="op-minus">+</span>
      </p>
    </div>
    <div class="extra-box">
      <label>倍投</label>
      <p>
        <span class="op-plus">-</span>
        <input type="text" ng-maxLength="3" value="1">
        <span class="op-minus">+</span>
      </p>
    </div>
  </div>
  <div class="bar bar-footer bar-stable">
    <div class="select-result">
      <dl class="result-money confirm-money">
        <dt>共12345注，<span>23456789.1元</span></dt>
        <dd>余额：1234234056.10元</dd>
      </dl>
    </div>
    <div class="result-next result-confirm">投注</div>
  </div>
</ion-view>


