<ion-view view-title="顺利秒秒彩">
  <div class="bar bar-header bar-stable">
    <a class="button button-icon icon ion-chevron-left"></a>
    <a href="###" class="button button-icon icon ion-android-volume-up"></a>
    <a href="###" class="button button-icon icon ion-android-volume-off"></a>
  </div>

  <ion-content class="has-footer has-header bg-losing">

    <!--老虎机-->
    <div class="slot">
      <div class="slot-number">
        <div class="slot-light"></div>
        <ul class="number-list">
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
          <li><span></span></li>
        </ul>
      </div>
      <div class="drawbar">
        <span class="drawbar-up"></span>
        <span class="drawbar-down"></span>
      </div>
    </div>
    <!--未中奖-->
    <div class="losing-box">
      <div class="losing-tips">
        <h2>很可惜,您这次没中奖</h2>
        <h3>共<span>10</span>期,开奖完成</h3>
        <p>
          <a class="btn-again" href="javascript:;">再来一次</a>
        </p>
      </div>
    </div>

  </ion-content>
  <div class="bar bar-footer bar-custom">
    <span class="bar-btn">暂停</span>
  </div>
</ion-view>


