@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2014-06-19 15:57:02
 * @version $Id$
 */
html,body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,em,form,input,select,textarea,button,header,section,aside,footer{margin:0;padding:0;}
ul,li{list-style:none;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
img{border:none;}
body{font:12px/1.5 Microsoft Yahei,Arial,Helvetica,sans-serif;color:#333;}
.clearfix:after{content:".";display:block;height:0;clear:both;overflow:hidden;}
.clearfix{*zoom:1;}

.hide{
	display: none;
}

html{
	width: 100%;
}
body{
	width: 100%;
	overflow-x: hidden;
	background: url(../images/banner-bg.jpg) repeat-x 0px 90px;
}

body,
input,
select{
	font-family: 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
}
 
.hide{
	display: none;
}

.layout{
	width: 1000px;
	margin: 0px auto;
}

header{
	 width: 100%;
	 height: 90px;
	 background: #fff; 
}

header .logo{
	float: left;
	width: 402px;
	height: 71px;
	margin: 10px 0 0 0;
	background: url(../images/logo.png);
	_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/logo.png");
}

header .count-person{
	float: right;
	margin-top: 23px;
}

	.count-person .now-reg-num{
		float: left;
	}

	.count-person ul{
		float: right;
	}

	.count-person ul li{
		float: left;
	}

	.count-person .now-reg-num{
		margin-right: 10px;
		color: #848484;
		font-size: 14px;
		text-align: right;
		font-weight: bold;
		line-height: 22px;
	}

		.now-reg-num .title{
			font-size: 17px;
			margin-top: 2px;
		}

	.count-person .count-num li{
		float: left;
		width: 28px;
		height: 37px;
		margin: 5px 0 0 3px;
		line-height: 37px;
		text-align: center;
		font-size: 20px;
		color: #fff;
		font-family: Impact;
		background: url(../images/num-bg.png) no-repeat;
	}

/*banner*/
.banner{
	width: 100%;
	height: 592px;
	background: url(../images/banner.jpg) center center no-repeat;
}	
	.banner .video-area{
		position: absolute;
		top: 150px;
		left: -128px;
		width: 574px;
		height: 465px;
	}

	.banner .video-area .mask-tv{
		position: absolute;
		top: 0;
		left: 0;
		width: 574px;
		height: 465px;
		z-index: 100;
		background: url(../images/tv.png) no-repeat;
		_background-image: none;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/tv.png");

	}

	.video-player{
		position: absolute;
		top: 92px;
		left: 107px;
		width: 295px;
		height: 220px;
	}

	.banner .layout{
		position: relative;
		height: 592px;
	}

	.banner .game-method-name{
		position: absolute;
		right: 50px;
		bottom: 0;
		width: 590px;
		height: 280px;
	}

	.banner .game-method-name a{
		position: absolute;
		display: block;
		cursor: default;
	}

	.banner .game-method-name a:hover{
		margin: 2px 2px 0 0;
		-moz-transition: margin 0.1s ease-in;
		-webkit-transition: margin 0.1s ease-in;
		-o-transition: margin 0.1s ease-in;
		transition: margin 0.1s ease-in;
	}

	.banner .game-method-name .ffc{
		top: 37px;
		right: 68px;
		width: 223px;
		height: 61px;
		background: url(../images/game-logo_ffc.png) no-repeat;
		_background-image: none;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/game-logo_ffc.png");
	}

	.banner .game-method-name .cqssc{
		top: 98px;
		right: 430px;
		width: 120px;
		height: 83px;
		background: url(../images/game-logo_ssc.png) no-repeat;
		_background-image: none;
		_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/game-logo_ssc.png");
	}

	.banner .game-method-name .llc{
		top: 98px;
		right: 252px;
		width: 136px;
		height: 83px;
		background: url(../images/game-logo_llc.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/game-logo_llc.png");
	}

	.banner .game-method-name .mmc{
		top: 98px;
		right: 55px;
		width: 136px;
		height: 83px;
		background: url(../images/game-logo_mmc.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/game-logo_mmc.png");
	}

	.banner .game-method-name .gd115{
		top: 195px;
		right: 390px;
		width: 137px;
		height: 75px;
		background: url(../images/game-logo_115.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/game-logo_115.png");
	}

	.banner .game-method-name .jx115{
		top: 202px;
		right: 212px;
		width: 141px;
		height: 67px;
		background: url(../images/game-logo_jx115.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/game-logo_jx115.png");
	}

	.banner .game-method-name .bjkl8{
		top: 193px;
		right: 55px;
		width: 120px;
		height: 75px;
		background: url(../images/game-logo_kl8.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/game-logo_kl8.png");
	}

/*article*/
.content{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}	
	.content .girl{
		position: absolute;
		bottom: -35px;
		right: -255px;
		width: 355px;
		height: 953px;
		background: url(../images/mm.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/mm.png");
	}

	.content .activity-desc{
		position: relative;
		float: left;
		width: 628px;
		height: 523px;
		background: url(../images/article.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/article.png");
	}
		.activity-desc .qq-list{
			position: absolute;
			top: 110px;
			left: 125px;
		}

		.activity-desc .qq-list li{
			float: left;
			padding-left: 25px;
			padding-right: 25px;
			font-size: 14px;
			color: #8f5dc3;
			font-weight: bold;
			background: url(../images/qq-icon.png) no-repeat;
		}

		.activity-desc .qq-list li a{
			color: #8f5dc3;
			text-decoration: none;
		}
	.content .reg-area{
		float: right;
		width: 281px;
		height: 476px;
		padding: 10px  20px 20px 20px;
		background: url(../images/side.png) no-repeat;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/side.png");
	}

		.content .reg-area li{
			height: 80px;
		}

		.content .reg-area h4{
			width: 100%;
			height: 45px;
			font-size: 24px;
			color: #8f5dc3;
			text-align: center;
		}

		.content .reg-area input{
			display: block;
			width: 258px;
			height: 38px;
			padding: 0 10px;
			border: 1px solid #dddddd;
			outline: none;
			color: #8c5bbe;
			box-shadow: inset 0 2px 10px rgba(0,0,0,0.1);
		}

		.content .reg-area span{
			display: block;
			height: 40px;
			line-height: 30px;
			color: #b5b5b5;
		}

		.content .reg-area .img-captcha{
			float: right;
			width: 95px;
			height: 32px;
			margin: 4px 20px 0 0;
		}

		.content .reg-area .input-captcha{
			float: left;
			width: 136px;
		}

		.content .reg-area .sub-btn{
			width: 280px;
			height: 50px;
			border: none;
			background: url(../images/button.png) 0 -56px no-repeat;
			cursor: pointer;
		}

		.content .reg-area .sub-btn:hover{
			background-position: 0 0;
		}

		.content .reg-area .captcha-area{
			height: 70px;
		}
/*footer*/
footer{
	width: 100%;
	height: 175px;
	background: #8f5dc3;
}
	footer .footer-info{
		width: 1000px;
		height: 140px;
		background: url(../images/footer-info.png) no-repeat 0 15px;
		_background-image: none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/footer-info.png");
	}

	footer .copy-right{
		color: #fff;
		line-height: 35px;
		text-align: center;
		border-top: 1px solid #986cc7;
	}


.pop{position:absolute;width:560px;border:10px solid #CB223F;background-color:#EEE;font-family:Microsoft Yahei;color:#3E3E3E;}
.pop .ico-close{position:absolute;top:-10px;right:-10px;width:35px;height:35px;border:6px solid #CB223F;background-color:#821620;color:#FFF;font-size:34px;line-height:30px;text-align:center;cursor:pointer;}
.pop .ico-close:hover{background-color:#a21c28;}

.pop .bd {padding:30px;
    text-align: center;
}

.pop h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.pop .bd p {
    padding-bottom: 15px;
}
.pop .btn-close, .pop .btn-check, .pop .btn-submit {
    background-color: #FFB605;
    border-bottom: 2px solid #E8982B;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    width: 150px;
}
.pop .btn-check {
    background-color: #C92440;
    border-bottom-color: #821620;text-decoration:none;
}
.pop .btn-submit {
    font-size: 16px;
    height: 30px;
    line-height: 28px;
    margin-left: 40px;
    vertical-align: middle;
    width: 146px;text-decoration:none;
}
.pop a{color:#DF5064;text-decoration:underline;}

.slider-bar{position:fixed;_position:absolute;left:50%;margin-left:500px;bottom:150px;z-index:111;width:130px;background-color:#FFF;border-radius:7px 7px 6px 6px;box-shadow:0 2px 3px rgba(0,0,0,0.5);border:1px solid #C7C6BB\9;border:none\0;text-align:center;
-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.slider-bar .title{background-color:#000;height:36px;line-height:36px;color:#FFF;border-radius:6px 6px 0 0;}
.slider-bar img{display:block;width:100px;height:100px;margin:10px auto 5px;}
.slider-bar p{padding-bottom:5px;line-height:18px;}
.slider-bar a{color:#333;text-decoration:underline;}
.slider-bar a:hover{color:#000;}
